* {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, serif;
    box-sizing: border-box;
}

.teacher_container {
    display: flex;
    max-width: 920px;
    flex-direction: column;
    margin: 0 auto;
    color: #293846;
    background-color: #F3F3F4;
}

@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

.student_title {
    display: flex;
    font-weight: bold;
    font-size: 70px;
    justify-content: center;
    margin-top: auto;
}

.teacher_title {
    display: flex;
    font-weight: bold;
    font-size: 100px;
    justify-content: center;
    margin-top: auto;
}

.teacher_form {
    display: flex;
    flex-direction: column;
}

.teacher_left_form {
    display: flex;
    flex-direction: column;
    width: 560px;
}

.teacher_left_title_form {
    width: 430px;
}

.teacher_middle_form {
    margin: 7px 25px 0;
}

.teacher_right_useful_form {
    width: 335px;
}

.teacher_variants {
    border: #293846 4px solid;
    border-radius: 20px;
    background-color: #F3F3F4;
    text-align: center;
    font-size: 25px;
    height: 80px;
    width: 100px;
}

.teacher_right_form {
    width: 335px;
}

.teacher_row {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.teacher_row:first-child {
    margin-top: 10px;
}

.teacher_select {
    appearance: none;
    font-size: 25px;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: #293846 4px solid;
    background: #F3F3F4 url(./patterns/arrow_custom.svg) no-repeat right;
    background-position-x: calc(100% - 20px);
    text-align: -webkit-center;
}

.teacher_select:invalid {
    color: #757575;
}

.teacher_input {
    border: #293846 4px solid;
    width: 100%;
    height: 80px;
    border-radius: 20px;
    background-color: #F3F3F4;
    text-align: center;
    font-size: 25px;
}

.teacher_input_inf {
    text-align: left;
    padding: 30px 40px;
    height: 230px;
    font-size: 24px;
    resize: none;
    overflow: auto;
}

.teacher_file_import {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border: #293846 4px solid;
    border-radius: 20px;
}

.teacher_text_import {
    font-size: 20px;
    color: #757575;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.teacher_button_import {
    font-size: 18px;
    margin-right: 20px;
    width: 120px;
    line-height: 40px;
    background-color: #293846;
    text-align: center;
    color: white;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
}


.teacher_title_text {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.teacher_variants {
    text-align: center;
}

.teacher_criteria .teacher_title_text {
    font-size: 16px;
}

.teacher_criterias {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.teacher_criteria {
    display: inherit;
    align-items: center;
}

.teacher_deadline {
    display: block;
    text-align: center;
    font-size: 16px;
}

.teacher_block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #293846 4px solid;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}
.teacher_submit_button {
    font-size: 35px;
    color: white;
    background-color: #1ab394;
    width: 100%;
    height: 60px;
    margin-top: 25px;
    border-radius: 20px;
    cursor: pointer;
    border-bottom-color: #f3f3f3;
}

.teacher_calendar, .teacher_mark_input, .teacher_time_input {
    margin-top: 5px;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    border: #293846 4px solid;
}

.teacher_mark_input, .teacher_mark_btn{
    cursor: pointer;
}

.teacher_calendar {
    margin: 0 0 5px 0;
}

.teacher_year, .teacher_dayMonth {
    cursor: pointer;
    height: 30px;
}

.teacher_time {
    cursor: pointer;
    font-size: 24px;
    margin-top: 13px;
}

.input_file{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input_file + label{
    cursor: pointer;
}
.input_file:focus + label{
    outline: 1px dotted #293846;
    outline: -webkit-focus-ring-color auto 5px;
}

#multiselect:invalid {
    color: #757575!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}