* {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, serif;
    box-sizing: border-box;
}

.teacher_container {
    display: flex;
    max-width: 920px;
    flex-direction: column;
    margin: 0 auto;
    color: #202020;
    background-color: #F3F3F4;
}

@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

.teacher_title {
    display: flex;
    font-weight: bold;
    font-size: 110px;
    justify-content: center;
    margin-top: 30px;
}

.teacher_form {
    display: flex;
    flex-direction: column;
}

.teacher_left_form {
    display: flex;
    flex-direction: column;
    width: 560px;
}


.teacher_right_form {
    width: 335px;
}

.teacher_row {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.teacher_row:first-child {
    margin-top: 10px;
}

.teacher_select {
    appearance: none;
    font-size: 25px;
    width: 100%;
    height: 80px;
    border-radius: 20px;
    border: #202020 4px solid;
    background: #F3F3F4 url(./patterns/arrow_custom.svg) no-repeat right;
    background-position-x: calc(100% - 20px);
    text-align: -webkit-center;
}

.teacher_select:invalid {
    color: #757575;
}

.teacher_input {
    border: #202020 4px solid;
    width: 100%;
    height: 80px;
    border-radius: 20px;
    background-color: #F3F3F4;
    text-align: center;
    font-size: 25px;
}

.teacher_input_inf {
    text-align: left;
    padding: 30px 40px;
    height: 230px;
    font-size: 37px;
}

.teacher_file_import {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border: #202020 4px solid;
    border-radius: 20px;
}

.teacher_text_import {
    font-size: 25px;
    color: #757575;
    text-align: center;
    width: 100%;
}

.teacher_button_import {
    font-size: 18px;
    margin-right: 20px;
    width: 120px;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 10px;
}


.teacher_title_text {
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.teacher_criteria .teacher_title_text {
    font-size: 16px;
}

.teacher_criterias {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.teacher_criteria {
    display: inherit;
    align-items: center;
}

.teacher_deadline {
    display: block;
    text-align: center;
    font-size: 16px;
}

.teacher_block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #202020 4px solid;
    height: 120px;
    width: 120px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}
.teacher_submit_button {
    font-size: 35px;
    color: white;
    background-color: black;
    width: 100%;
    height: 60px;
    margin-top: 25px;
    border-radius: 20px;
    cursor: pointer;
}

.teacher_calendar, .teacher_mark_input {
    margin-top: 5px;
    font-size: 16px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    border: black 4px solid;
}



